<div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
  <ul class="menu over-submenu">
    <li class="menu-item-has-children over-menu"><span class="toggle-children ">  </span>
      <ul class="sub-menu">

        <li class="menu-back menu-parent-items">
          <i class="fa fa-arrow-left" (click)="back()"></i> YahooAuction
        </li>
        <ul class="menu-parent-mobile">
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(23140)">Đồng hồ & Phụ kiện</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084052553)">Phụ kiện thương
                  hiệu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005359)">Phụ kiện nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005358)">Phụ kiện nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006476)">Phụ kiện trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23260)">Đồng hồ thương hiệu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23264)">Đồng hồ nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23268)">Đồng hồ nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23272)">Đồng hồ Unisex</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084316075)">Đồng hồ thông minh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024554)">Đồng hồ mặt nhân vật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23276)">Đồng hồ bỏ túi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024555)">Dây đeo đồng hồ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084062498)">Hộp bảo vệ đồng hộ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024557)">Hộp đựng đồng hồ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024556)">Công cụ sửa chữa đồ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084032117)">Đồng hồ để bàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084240616)">Đồ handmade</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(23336)">Thiết bị điện tử</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084039759)">Máy tính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084292086)">Máy tính bảng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005067)">Smartphone & Điện thoại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084288672)">Máy đọc sách</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084261633)">Máy ảnh kỹ thuật số</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23568)">Phần mềm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084039561)">Thiết bị ngoại vi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084039461)">Cáp sạc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084039480)">Linh kiện điện thử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084049588)">Ổ cứng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23560)">Máy trạm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23557)">Thiết bị hỗ trợ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084039460)">Máy tính bỏ túi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048038)">Máy tính khác</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21908)">Tạp chí điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21700)">Sách điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23564)">Danh mục khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(23632)">Đồ điện tử, AV & Máy ảnh</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(23880)">TV & TB video</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23764)">Thiết bị âm thanh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23636)">Camera & TB chiếu sáng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23960)">Điện thoại&smartphone</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084316074)">Đồng hồ thông minh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084055703)">Camera giám sát</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008364)">Bếp & TB điện gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042675)">Máy giặt & Bàn ủi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24450)">Thiết bị làm sạch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008356)">Điều hòa & Lọc không khí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042673)">Dụng cụ làm đẹp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042672)">Điện thoại bàn&Fax</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042480)">Thiết bị ngoại vi OA</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22988)">Máy hủy tài liệu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084050527)">Từ điển điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23878)">Máy tính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084044953)">Pin, pin, sạc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084044958)">Máy BA, bộ chuyển đổi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084263358)">Phụ tùng điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22844)">Trò chơi điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23632)">PC, thiết bị ngoại vi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24466)">Đồ gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24690)">Thiết bị chiếu sáng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27361)">Đài phát thanh nghiệp dư</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23972)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(20060)">Truyện tranh, phim hoạt hình</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084062134)">Trang phục Cosplay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084000109)">Tiêu đề</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084050909)">Chữ ký</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084313425)">Vẽ minh họa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084313426)">Xóa tập tin</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084313427)">Huy hiệu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084313428)">Tấm thảm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084313429)">Khăn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006021)">Nhãn dán</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084037544)">Vòng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005356)">Ảnh nghệ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084297891)">Dakimakura</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25888)">Hình</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084250334)">Mô hình nhựa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21636)">Truyện tranh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21976)">DVD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22080)">Video</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22028)">Đĩa laser</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084041458)">VCD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005149)">CD nhạc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084007037)">Hồ sơ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006987)">Băng cassette</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006158)">Lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21020)">Thẻ giao dịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046717)">Thẻ quo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005120)">Thẻ điện thoại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006184)">Poster</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006161)">Cắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307735)">Minh họa, sản xuất nghệ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307732)">Sản xuất (thuyết minh, diễn viên lồng tiếng)</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20068)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(2084032594)">Văn hóa phẩm</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084047071)">Các nhóm nghệ sĩ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047082)">Quạt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046976)">DVD thần tượng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046984)">Video thần tượng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006157)">Lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084037536)">Chìa khóa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084309464)">Xóa tập tin</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084040530)">Dây đeo điện thoại di động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006160)">Cắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047075)">Ký tên</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047076)">Nhãn dán</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008066)">Tạp chí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047081)">Ảnh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084309463)">Áo thun, áo sơ mi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084009038)">Tạp chí thần tượng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22748)">Vé</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005109)">Thẻ điện thoại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006042)">Thẻ giao dịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046717)">Thẻ quo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047091)">Câu lạc bộ fan hâm mộ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20843094650)">Dây buộc tóc cao su</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084309466)">Bút phát ánh sáng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006183)">Poster</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047088)">Nhạc pop</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22396)">Nhạc sĩ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047089)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(21964)">Phim, Video</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(21968)">DVD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084239338)">Blu-ray</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005503)">VCD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22020)">Băng video</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22072)">Đĩa laser</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042367)">Nhạc phim</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22124)">Liên quan đến phim</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084039789)">Vé</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307730)">Sản xuất phim</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(22152)">Âm nhạc</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(22192)">CD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22260)">Bản ghi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22344)">Băng cassette</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046929)">DVD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084249081)">Blu-ray</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22244)">Video</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005202)">Đĩa laser</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084224176)">Đĩa SP</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22436)">Nhạc cụ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084044331)">Chứng từ tiền mặt, vé</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21788)">Sách, tạp chí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22396)">Đồ lưu niệm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307734)">Sản xuất âm nhạc</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(24202)">Đồ trẻ em</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084042546)">Tã, sản phẩm vệ sinh cho bé</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084007247)">Đồ chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008387)">Sản phẩm bảo vệ bé an toàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008379)">Đồ tắm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008393)">Nội thất dành cho trẻ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24210)">Quần áo trẻ em, bà bầu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006356)">Đồ bộ giường</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042548)">Các loại xe đẩy</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084216344)">Quà lưu niệm</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(21624-641)">Sách, truyện thiếu nhi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042550)">Sản phẩm dành cho phụ nữ cho
                  con bú</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084240631)">Các sản phẩm làm bằng tay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307799)">Thiết bị trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24226)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(26086)">Hoa, trồng trọt</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084200287)">Nông nghiệp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006704)">Làm vườn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006711)">Sắp xếp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006710)">Cắt hoa, bó hoa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048020)">Cây trồng trong chậu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048017)">Cây trang trí trong nhà</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006709)">Cây cảnh trong chậu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006703)">Trong vườn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084206880)">Dụng cụ và vật liệu làm vườn</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(2084048857)">Cách bảo quản hoa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006708)">Hoa khô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047125)">Cho thuê</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048858)">Hoa ép khô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006705)">Hoa giả</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024334)">Bình hoa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047772)">Sách liên quan</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006706)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(22896)">Sách, VPP & Quà tặng</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084042481)">Cửa hàng vật tư</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042480)">Thiết bị tự động hóa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22928)">Nội thất văn phòng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(42176)">Vật tư văn phòng nói chung</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22920)">Phụ kiện các loại bàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084055706)">Cửa hàng bán sản phẩm an toàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047365)">Bào bì hộp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042484)">Văn phòng phẩm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084063841)">Bìa sách</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(2084246780)">Sản phẩm đựng thẻ tín dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22904)">Túi xách, vali</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21620)">Sách kinh doanh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307793)">Cho thuê văn phòng, vật tư</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22996)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(24198)">Nhà của đời sống</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(42168)">Các sản phẩm nhà bếp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(42160)">Đồ gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084288099)">Hộp đựng đồ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24230)">Nội thất</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084240626)">Sản phẩm làm bằng tay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24642)">Dụng cụ làm vườn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042017)">Vật liệu xây dựng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24466)">Thiết bị</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047969)">Thiết bị bảo mật an toàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20284)">Các sự kiện hàng năm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084061209)">Các dịp lễ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084059849)">Bàn thờ Phật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24534)">Vật nuôi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048832)">Thuốc chống côn trùng</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(2084307800)">Nội thất, cho thuê nội thất</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307804)">Cho thuê vật tư</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24678)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(23976)">Thực phẩm, đồ uống</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084005796)">Hải sản</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005795)">Thịt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006748)">Gạo, Ngũ cốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006751)">Rau, củ quả</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(42164)">Đồ uống</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24054)">Thực phẩm chức năng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006888)">Thực phẩm ăn kiêng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042479)">Thực phẩm chế biến sẵn</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(23982)">Bánh kẹo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006750)">Pasta & Mỳ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084049724)">Bánh mì</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24034)">Bánh ngọt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24042)">Gia vị</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24050)">Snack - Đồ ăn vặt</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(2084008374)">Sữa bột</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084055697)">Thực phẩm ăn liền</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21704)">Sách dạy nấu ăn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24194)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(42177)">Sức khỏe, làm đẹp</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(42180)">Mỹ phẩm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005298)">Chăm sóc móng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005297)">Chăm sóc tóc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084007425)">Chăm sóc cơ thể</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084055379)">Chăm sóc răng miệng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084012478)">Kính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042539)">Hỗ trợ thư giãn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26100)">Sản phẩm hỗ trợ giảm cân</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24054)">Thực phẩm chức năng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042538)">Chăm sóc điều dưỡng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24854)">Dụng cụ sơ cứu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042544)">Dụng cụ y tê</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084007477)">Dụng cụ làm đẹp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005300)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(23000)">Thời trang</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(23172)">Theo thương hiệu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005069)">Thời trang nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005069)">Túi xách nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23312)">Giày nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005204)">Quần áo Kimono nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23004)">Phụ kiện thời trang</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23176)">Thời trang nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084006467)">Túi xách nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23200)">Giày nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005479)">Quần áo Kimono nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084233229)">Túi Unisex</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084293011)">Thời trang trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084061614)">Quần áo truyền thống NB</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084240597)">Sản phẩm handmade</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23000)">Phụ kiện, đồng hồ</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(24802)">Áo khoác</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23008)">Thời trang thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(42179)">Nước hoa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21912)">Tạp chí thời trang</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084062134)">Trang phục Cosplay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307758)">Thời trang Mix&Match</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307769)">Dịch vụ thuê thời trang</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(26318)">Ô tô, Xe máy, Xe đạp</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(26322)">Linh kiện</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084300257)">Bánh xe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048326)">ETC</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23879)">Bộ phận điều hướng ô tô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23852)">Âm thanh ô tô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26320)">Phụ kiện xe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005798)">Hệ thống an toàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005799)">Hệ thống bảo mật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26092)">Bảo trì</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084061280)">Phụ tùng xe ô tô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24650)">Dụng cụ sửa chữa xe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005545)">Catalog, Sách hướng dẫn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084005546)">Các sản phẩm ô tô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084019952)">Hệ thống camera trước</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008871)">Sách, tạp chí về xe</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(24698)">Thể thao và giải trí</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(25152)">Thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24702)">Phụ kiện giã ngoại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26222)">Xe đạp tập</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25180)">Câu cá</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23008)">Thời trang thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24802)">Quần áo khoác gió</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26214)">Tàu thuyền</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084263701)">Vòng theo dõi vận động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084214045)">Kính râm thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042420)">Bơi lội</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084062737)">Thực phẩm bổ sung NL</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042464)">Du lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25430)">Vé xem thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084044344)">Vé vào khu vui chơi GT</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046936)">Pachinko & Pachislot</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048240)">Đua thuyền</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25407)">Đua ngựa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048304)">Đua xe đạp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24534)">Phụ kiện thú cưng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26086)">Hoa tươi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307745)">Khóa học vận động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307762)">Dịch vụ thuê dụng cụ thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084036434)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(20000)">Sưu tầm đồ cổ</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084024008)">Thủ công mỹ nghệ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20056)">Tác phẩm nghệ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084236067)">Nội thất</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084261100)">Cửa gỗ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084259484)">Sản phẩm tâm linh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20960)">Tem bưu chính,bưu thiếp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20452)">Tiền</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20116)">Vấn đề in</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20992)">Thẻ giao dịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27771)">Quảng cáo, hàng mới lại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20764)">Khoa học, tự nhiên</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20004)">Thiết bị</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084048439)">Máy hát</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21060)">Xe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27858)">Disney</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(42223)">SF</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084045612)">Nắp chai</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27856)">Ký tên</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21152)">Hàng linh tinh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27673-4548)">Đồ chơi, trò chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23968)">Thẻ điện thoại<</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25888)">Hình</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20428-4551)">Quân đội</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307788)">Vẽ tranh, cho thuê thủ công</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(24242)">Sở thích & Văn hóa</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(22436)">Nhạc cụ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20056)">Tác phẩm nghệ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20124)">Đồ dùng nghệ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20924)">Thủ công mỹ nghệ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20428)">Tư trang quân đội</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25888)">Đồ chơi mô hình</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084251269)">Đồ chơi điều khiển</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084250263)">Mô hình nhựa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084251212)">Đồ chơi sở thích</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084260113)">Mô hình xe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084259579)">Mô hình đường sắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084063789)">Mô hình lắp ghép bằng gỗ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27753)">Đường sắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26186)">Máy bay mô hình</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(23761)">Thiết bị đài phát thanh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084046936)">Trò chơi giải trí Pachinko</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24318)">Ống nhòm ngắm chim</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307790)">Dịch vụ thuê nhạc cụ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26075)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(25464)">Đồ chơi & Trò chơi</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(22844)">Trò chơi điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25826)">Trò chơi đánh bài</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25888)">Lắp ghép, Xếp hình</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084250263)">Đồ chơi mô hình</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084251269)">Đồ chơi điều khiển</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084251212)">Điều khiển radio sở thích</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084260113)">Xe mini</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084259630)">Máy đánh bạc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084259579)">Mô hình đường sắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084259623)">Plarail</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(227673)">Cổ điển</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084044370)">A hùng giả vờ,chiến đấu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084044371)">Nữ A hùng,chơi thời trang</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25864)">Búp bê, búp bê nhân vật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(240494)">Đồ chơi nhồi bông</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024235)">Mỗi ngày</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26077)">Đồ chơi nhân vật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084312318)">Shokugan, bonus</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26018)">Câu đố</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(27727)">Trò chơi<</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(24382)">Phép thuật, hàng tiệc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(40510)">Khối</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(2084041892)">Đầu trang</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084007247)">Cho bé</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024191)">Đồ chơi nhạc cụ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024190)">Cưỡi đồ chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024146)">Đồ chơi giáo dục</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084024164)">Đồ chơi điện thử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084041664)">Thiết bị sân chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26080)">Đồng hồ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26038)">SF</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(25872)">Đồ chơi thức ăn nhanh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084042420)">Chơi nước</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307786)">Cho thuê đồ chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084307787)">Cho thuê trò chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26082)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(21600)">Sách & Tạp chí</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(21636)">Truyện tranh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21884)">Tạp chí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008525)">Văn học & Tiểu thuyết</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008550)">Sách giáo dục, khoa học viễn
                  tưởng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21740)">Bản đồ, hướng dẫn du lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21820)">Khoa học và công nghệ tự
                  nhiên</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008989)">Sức khỏe và y học</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084009036)">Nghệ thuật, giải trí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008755)">Kinh doanh, kinh tế</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008565)">Nhân văn, xã hội</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084008861)">Sở thích, thể thao, thực tế</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(22084008935)">Sống, sống, chăm sóc trẻ
                  em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21712)">Học tập, giáo dục</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21624)">Sách thiếu nhi, sách ảnh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21700)">Máy tính và internet</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084263670)">Sách cũ, tài liệu cũ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(20072)">Lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084063841)">Bìa sách</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084047451)">Sách CD</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(26084)">Khác</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(2084307721)">Kỹ năng, kiến thức</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084241301)">Neta</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(2084053052)">Thông tin</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(26395)">Khác</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(21964)">Phim & video</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </ul>
    </li>
  </ul>
</div>
