<div id="tomoni-slide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#tomoni-slide" data-slide-to="0" class="active"></li>
    <li data-target="#tomoni-slide" data-slide-to="1"></li>
    <li data-target="#tomoni-slide" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/img/slide3-2.jpg" alt="TomoniGlobal">
      <div class="carousel-caption">
        <h1>DỄ DÀNG TRUY CẬP VÀ SỬ DỤNG</h1>
        <p>Xác nhận nhanh, booking đơn giãn, theo dõi hàng hóa tự động</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/slide3-3.jpg" alt="TomoniGlobal">
      <div class="carousel-caption">
        <h1>CUNG CẤP GIẢI PHÁP CHI PHÍ HIỆU QUẢ</h1>
        <p>Hệ thống tracking thông minh và hiện đại, hỗ trợ khách hàng kiểm soát chi phí vận chuyển khi nhận hàng tại nhà</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/slide3-1.jpg" alt="New York">
      <div class="carousel-caption">
        <h1>NHÂN VIÊN KINH NGHIỆM XỬ LÝ CHUYÊN NGHIỆP</h1>
        <p>Đội ngũ nhân viên đầy đủ kinh nghiệm, có thể đáp ứng các yêu cầu khắt khe nhất từ phía khách hàng</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#tomoni-slide" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#tomoni-slide" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 col-4">
      <a title="Thế giới đồng hồ" href="javascript:;" (click)="categoryYahooAuction(23140)"> <img
        src="../../../../assets/img/rakuten/dong-ho.png" alt=""> </a>
    </div>
    <div class="col-md-4 col-4">
      <a title="Thời trang nữ" href="javascript:;" (click)="categoryYahooAuction(23288)"> <img
        src="../../../../assets/img/rakuten/thoi-trang-nu.png" alt=""> </a>
    </div>
    <div class="col-md-4 col-4">
      <a title="Thời trang nam" href="javascript:;" (click)="categoryYahooAuction(23176)"> <img
        src="../../../../assets/img/rakuten/thoi-trang-nam.png" alt=""> </a>
    </div>
  </div>
</div>


<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading_hotdeal">
        <h2 class="title-head">
          <a href="javascript:;"> <span
            class="color_main font-weight-bold">Hot deal</span> Yahoo Auction</a>
        </h2>
      </div>

      <div class="row">
        <div class="col-md-3 col-6">
          <div class="product-main">
            <img src="../../../../assets/img/balo.jpg">
            <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
              tính mã MSS500</a></h3>
            <div class="d-flex justify-content-center">
              <span class="product-price">290,000 đ</span>
              <span class="product-price-down">590,000 đ</span>
              <button type="button" class="btn btn-auction btn-sm"><i
                class="fa fa-gavel"></i> Đấu giá
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="product-main">
            <img src="../../../../assets/img/dam.jpg">
            <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
              tính mã MSS500</a></h3>
            <div class="d-flex justify-content-center">
              <span class="product-price">290,000 đ</span>
              <span class="product-price-down">590,000 đ</span>
              <button type="button" class="btn btn-auction btn-sm"><i
                class="fa fa-gavel"></i> Đấu giá
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="product-main">
            <img src="../../../../assets/img/tai-phone.jpg">
            <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
              tính mã MSS500</a></h3>
            <div class="d-flex justify-content-center">
              <span class="product-price">290,000 đ</span>
              <span class="product-price-down">590,000 đ</span>
              <button type="button" class="btn btn-auction btn-sm"><i
                class="fa fa-gavel"></i> Đấu giá
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="product-main">
            <img src="../../../../assets/img/balo.jpg">
            <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
              tính mã MSS500</a></h3>
            <div class="d-flex justify-content-center">
              <span class="product-price">290,000 đ</span>
              <button type="button" class="btn btn-auction btn-sm"><i
                class="fa fa-gavel"></i> Đấu giá
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Rakuten-->
<div class="container mb-2 mt-5">
  <div class="row">
    <div class="col-md-12">
     <div class="title_top_menu">
       <div class="underlinlie"></div>
       <div class="float-left">
         <h3><a href="javascript:;" routerLink="/rakuten"> Rakuten</a></h3>
       </div>
       <div class="float-right">
         <ul class="clearfix">
           <li><a href="javascript:;" (click)="categoryRakuten(23140)" title="Đồng hồ">Đồng hồ</a></li>
           <li><a href="javacript:;" (click)="categoryRakuten(23176)" title="Thời trang nam">Thời trang nam</a></li>
           <li><a href="javascript:;" (click)="categoryRakuten(23288)" title="Thời trang nữ">Thời trang nữ</a></li>
           <li><a href="javascript:;" routerLink="/rakuten" class="Tất cả">Xem tất cả</a></li>
         </ul>
       </div>
     </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/biccamera/cabinet/product/3827/00000005846396_a01.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/hokushinco/cabinet/90614ebuswa1img6/hmy0kksvs.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/luxury-1/cabinet/03802623/bulov/3/i3870ed6a7f4d71f1-1.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/abbeyroad/cabinet/orient/orient_classic/rn-ak0003b.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Yahoo auction-->


<div class="container mb-2 mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="title_top_menu">
        <div class="underlinlie"></div>
        <div class="float-left">
          <h3><a href="javascript:;" routerLink="/yahoo-auction"> Yahoo auction</a></h3>
        </div>
        <div class="float-right">
          <ul class="clearfix">
            <li><a href="javascript:;"  title="Thiết bị gia dụng" (click)="categoryYahooAuction(562637)">Thiết bị gia dụng</a></li>
            <li><a href="javascript:;" title="Đồ chơi &
        Trò chơi" (click)="categoryYahooAuction(25464)">Đồ chơi &
              Trò chơi</a></li>
            <li><a href="javascript:;" title="Âm nhạc" (click)="categoryYahooAuction(22152)">Âm nhạc</a></li>
            <li><a href="javascript:;" routerLink="/yahoo-auction" class="Tất cả">Xem tất cả</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://wing-auctions.c.yimg.jp/sim?furl=auctions.c.yimg.jp/images.auctions.yahoo.co.jp/image/dr000/auc0511/users/059d6b7b9126b0ae7b1df5b46a9fda9db14281ee/i-img900x1200-15734691781sr5te802068.jpg&dc=1&sr.fs=20000">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-gavel"></i> Đấu giá
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://wing-auctions.c.yimg.jp/sim?furl=auctions.c.yimg.jp/images.auctions.yahoo.co.jp/image/dr000/auc0511/users/61b9fb41fab22e8dd0e5441cc2acb80024595b55/i-img700x700-1573467160f7imsm169009.jpg&dc=1&sr.fs=20000">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-gavel"></i> Đấu giá
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://wing-auctions.c.yimg.jp/sim?furl=auctions.c.yimg.jp/images.auctions.yahoo.co.jp/image/dr000/auc0511/users/b3eeebc17c90734cccb9256fa4ebbd74ba2eb65f/i-img1200x675-1573365789us2548708080.jpg&dc=1&sr.fs=20000">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-gavel"></i> Đấu giá
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://wing-auctions.c.yimg.jp/sim?furl=auctions.c.yimg.jp/images.auctions.yahoo.co.jp/image/dr000/auc0511/users/265c629f85fbc3763f6ebcc845c37d0805d3c482/i-img1200x900-1573521970r7duob939700.jpg&dc=1&sr.fs=20000">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-gavel"></i> Đấu giá
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--amazon-->
<div class="container mb-2 mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="title_top_menu">
        <div class="underlinlie"></div>
        <div class="float-left">
          <h3><a href="javascript:;" routerLink="/amazon"> Amazon</a></h3>
        </div>
        <div class="float-right">
          <ul class="clearfix">
            <li><a href="javascript:;" title="Điện gia dụng">Đồng hồ</a></li>
            <li><a href="javascript:;" title="Nhà cửa &amp; đời sống">Thời trang nam</a></li>
            <li><a href="javascript:;" title="Điện tử &amp; Công nghệ">Thời trang nữ</a></li>
            <li><a href="javascript:;" class="more_view">Xem tất cả</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/biccamera/cabinet/product/3827/00000005846396_a01.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/hokushinco/cabinet/90614ebuswa1img6/hmy0kksvs.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/luxury-1/cabinet/03802623/bulov/3/i3870ed6a7f4d71f1-1.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="product-main">
        <img src="https://thumbnail.image.rakuten.co.jp/@0_mall/abbeyroad/cabinet/orient/orient_classic/rn-ak0003b.jpg">
        <h3 class="product-name"><a class="height_name text2line" href="" title="Balo nữ cá tính mã MSS500">Balo nữ cá
          tính mã MSS500</a></h3>
        <div class="d-flex justify-content-center">
          <span class="product-price">290,000 đ</span>
          <button type="button" class="btn btn-auction btn-sm"><i
            class="fa fa-shopping-basket"></i> Mua
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Goi y 1-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading_hotdeal">
        <h2 class="title-head">
          <a href="javascript:;" routerLink="/rakuten"> <span
            class="color_main font-weight-bold">Rakuten</span> </a>
        </h2>
      </div>
      <div class="row mt-2">
        <div class="col-md-3 col-4 mb-2">
          <a title="Mua đồ thời trang nữ trên rakuten" href="javascript:;" (click)="categoryRakuten('100371')"> <img
            src="../../../../assets/img/rakuten/thoi-trang-nu.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Mua thực phẩm chức năng nhật bản trên rakuten" href="javascript:;" (click)="categoryRakuten('100938')"> <img
            src="../../../../assets/img/rakuten/thuc-pham-chuc-nang.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Chơi golf" href="javascript:;"  (click)="categoryRakuten('101164')"> <img
            src="../../../../assets/img/rakuten/golf.jpg" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Mua túi xách và phụ kiện thời trang trên rakuten" href="javascript:;"  (click)="categoryRakuten('216131')"> <img
            src="../../../../assets/img/rakuten/tui-xach-va-phu-kien.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-4 mb-2">
          <a title="Đồ chơi điện tử và trò chơi trên rakuten" href="javascript:;"  (click)="categoryRakuten('566382')"> <img
            src="../../../../assets/img/rakuten/do-choi-tro-choi.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Đồ mẹ và bé trên rakuten" href="javascript:;"  (click)="categoryRakuten('100533')"> <img
            src="../../../../assets/img/rakuten/do-me-va-be.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Đồ ngủ, nội y và trang phục gợi cảm nam nữ" href="javascript:;"  (click)="categoryRakuten('100433')"> <img
            src="../../../../assets/img/rakuten/noi-y-do-ngu.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Mua giày thể thao trên Rakuten" href="javascript:;" (click)="categoryRakuten('509058')"> <img
            src="../../../../assets/img/rakuten/giay-the-thao.png" alt=""> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Goi y 2-->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading_hotdeal">
        <h2 class="title-head">
          <a href="javascript:;" routerLink="/yahoo-auction"> <span
            class="color_main font-weight-bold">Yahoo Auction</span> </a>
        </h2>
      </div>

      <div class="row mt-2">
        <div class="col-md-3 col-4 mb-2">
          <a title="Phụ kiện xe" href="javascript:;" (click)="categoryYahooAuction('26320')">
            <img src="../../../../assets/img/yahoo-auction/phu-kien-xe.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Nồi cơm điện" href="javascript:;" (click)="categoryYahooAuction('2084008366')">
            <img src="../../../../assets/img/yahoo-auction/noi-com-dien.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Robot hút bụi" href="javascript:;" (click)="categoryYahooAuction('2084245309')">
            <img src="../../../../assets/img/yahoo-auction/robot-hut-bui.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Máy vi tính" href="javascript:;" (click)="categoryYahooAuction('23336')">
            <img src="../../../../assets/img/yahoo-auction/may-vi-tinh.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Thế giới đồng hồ" href="javascript:;" (click)="categoryYahooAuction('23140')">
            <img src="../../../../assets/img/yahoo-auction/the-gioi-dong-ho.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Chợ trời zippo" href="javascript:;" (click)="categoryYahooAuction('42530')">
            <img src="../../../../assets/img/yahoo-auction/choi-troi.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Đồ gốm sứ" href="javascript:;" (click)="categoryYahooAuction('20132')">
            <img src="../../../../assets/img/yahoo-auction/do-gom-su.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <a title="Thiết bị giải trí số" href="javascript:;" (click)="categoryYahooAuction('22844')">
            <img src="../../../../assets/img/yahoo-auction/thiet-bi-giai-tri-so.png" alt=""> </a>
        </div>
      </div>
    </div>
  </div>
</div>
