<div class="menu_categories">
  <div class="menu_categories_header">
    <h4 class="menu_categories_title"><i class="fa fa-bars"></i> Danh mục sản phẩm</h4>
  </div>
  <div class="navigation">
    <ul>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(13457)">Thời trang</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2494)">Thời trang nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2495)">Thời trang nam</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2496)">Đồng hồ & Phụ kiện</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2498)">Hàng tiêu dùng - Thực phẩm</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2499)">Đồ uống -Giải khát</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4744)">Bánh kẹo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1167)">Bánh kẹo Nhật Bản - Trung Quốc
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4745)">Snack - Đồ ăn vặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1234)">Gạo, ngũ cốc, các loại bột</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(939)">Hải sản</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(998)">Thịt - Giăm bông - Xúc xích</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1034)">Trái cây</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1032)">Rau củ quả</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1201)">Mỳ, Pasta</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1184)">Bánh mì - Ngũ cốc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1263)">Phô mai - Trứng - Sữa</div>
              <!--các nhân/PDA-->
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15015)">Thực phẩm chế biến sẵn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4743)">Đồ muối chua</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41023)">Đậu phụ, natto, konnyaku</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1071)">Thực phẩm sấy khô</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1273)">Gia vị</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1313)">Nguyên liệu làm bánh kẹo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41952)">Thực phẩm ăn liền</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1448)">Thực phẩm khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2513)">Thể thao - Dã ngoại</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-4">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2660)">Câu cá</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2522)">Cắm trại - Leo núi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2938)">Ca nô - Kayak - Chèo thuyền</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3566)">Xuồng - Thuyền nhỏ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4104)">Phụ kiện du lịch</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4105)">Quà lưu niệm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2949)">Sản phẩm khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2500)">Chăm sóc sức khỏe</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2022)">Kính áp tròng - Sản phẩm chăm sóc mắt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(16003)">Kính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48951)">Máy trợ thính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1948)">Hỗ trợ giảm cân</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45230)">Máy massage</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45229)">Tinh dầu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45231)">Sản phẩm giữ nhiệt, làm mát cơ thể</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45232)">Thiết bị giữ nhiệt, làm mát</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45489)">Hỗ trợ hạ sốt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50437)">Dụng cụ cai thuốc lá</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45493)">Dụng cụ chống ngáy</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14582)">Vòng huyết áp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1874)">Đồ uống tăng cường sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45564)">Thực phẩm chỉ định theo tình trạng sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45224)">Thực phẩm dinh dưỡng</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4749)">Thực phẩm chức năng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2053)">Dược phẩm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(34752)">Hỗ trợ điều trị bệnh trĩ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(34747)">Sản phẩm chống gù, chống vẹo xương</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45898)">Thiết bị y tế đo lường sức khỏe</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45945)">Hỗ trợ giảm đau, giảm sốt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2004)">Sản phẩm vệ sinh cơ thể</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2012)">Chăm sóc răng miệng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2052)">Thiết bị Y tế</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2117)">Khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2501)">Mỹ phẩm - Làm đẹp</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1752)">Chăm sóc da mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1791)">Trang điểm mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(13709)">Bộ trang điểm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1772)">Trang điểm mắt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48912)">Lông mi giả</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46356)">Dụng cụ trang điểm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1809)">Sơn móng tay</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1803)">Nước hoa
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46328)">Làm sạch da mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1841)">Sản phẩm chăm sóc cá nhân</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46427)">Kem chống nắng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46433)">Tẩy lông, triệt lông</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46467)">Khử mùi cơ thể</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1831)">Chăm sóc tóc nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46714)">Chăm sóc tóc nam</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46737)">Dụng cụ cạo râu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1849)">Chăm sóc da nam</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2502)">Điện thoại - Máy tính bảng</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-5">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38338)">Smartphone</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(21076)">Tablet PC</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50438)">SIM card</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38346)">Điện thoại, ipad, phụ kiện điện thoại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(36496)">Đồng hồ thông minh</div>
            </div>
            <div class="col-md-4">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(88)">Bộ phận máy tính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(113)">Linh kiện, phụ kiện máy tính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(150)">Phần mềm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38418)">Phụ kiện điện thoại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4692)">Khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2504)">Tivi - Máy ảnh - Phụ kiện số</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-5">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(635)">Tivi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(660)">Thiết bị âm thanh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2443)">Máy ảnh - Camera</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2260)">Kính thiên văn, thiết bị quang học</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2505)">Điện gia dụng</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-4">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4740)">Điều hòa không khí
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5300)">Thiết bị gia đình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(587)">Đồ dùng nhà bếp
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1987)">Dụng cụ làm đẹp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(1919)">Thiết bị hỗ trợ sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5301)">Thiết bị thông tin</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(577)">Pin, sạc</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2506)">Nội thất</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3664)">Kệ tủ tivi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49282)">Giá, kệ sách</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49277)">Tủ quần áo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49313)">Tủ nhựa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49297)">Nội thất phòng ăn</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49292)">Nội thất phòng giặt là</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14709)">Sofa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3646)">Bàn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3618)">Ghế</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3640)">Bàn làm việc</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(27409)">Vách ngăn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(534)">Đèn chiếu sáng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3653)">Giường, nệm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3669)">Phụ kiện giường ngủ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49218)">Bàn trà</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3604)">Rèm, màn cửa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3610)">Thảm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4764)">Nệm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48111)">Khăn phủ ghế</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3587)">Đồng hồ treo tường</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-4">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(47938)">Trang trí tường</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3585)">Phụ kiện trang trí nội thất</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(28069)">Gương</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49305)">Kệ tủ giày</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49177)">Nội thất cho bé</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2507)">Hoa tươi - Sân vườn</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15627)">Hoa tươi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4101)">Hoa được bảo quản
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4087)">Hoa khô</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50159)">Bình thủy tinh hoa khô</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4767)">Lẵng hoa tươi</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15629)">Vòng hoa treo tường</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5235)">Hoa giả
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50187)">Hoa xương rồng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(20258)">Cây cảnh trong nhà</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50184)">Cây trang trí giả</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50185)">Cỏ nhân tạo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15641)">Bonsai - Cây tạo kiểu
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4081)">Hạt giống</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4068)">Củ giống</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4088)">Lẵng hoa tươi</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38288)">Cây giống non</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15632)">Cây thủy sinh
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50191)">Bình hoa, giá đỡ hoa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15631)">Vật tư, vật liệu hoa giả</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4036)">Dụng cụ làm vườn</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-4">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4103)">Khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2508)">Hàng gia dụng & VPP</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4874)">Bếp, dụng cụ nhà bếp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49617)">Dép đi trong nhà</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46310)">Khăn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46603)">Đồ dùng nhà tắm và nhà vệ sinh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46311)">Đồ dùng vệ sinh</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3955)">Giặt ủi</div>

              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49254)">Thùng rác</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3968)">Dụng cụ vệ sinh
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3689)">Lọc không khí, khử mùi, hút ẩm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49596)">Diệt muỗi, diệt côn trùng, phòng trừ sâu bệnh</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(213198)">Văn phòng phẩm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4222)">Thiết bị an ninh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4810)">Dịp nghi lễ, vật tư tôn giáo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4150)">Danh mục quà tặng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4151)">Phiếu quà tặng</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4249)">Nhà bếp, đồ gia dụng, văn phòng phẩm khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2503)">Bộ công cụ tự làm</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50266)">Làm vườn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4237)">Thiết bị nhà ở</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3930)">Công cụ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38095)">Nguyên vật liệu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38093)">Kinh doanh, công nghiệp</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(111961)">Đánh bắt cá</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(101100)">Thể thao biển</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(200067)">Thể thao mùa đông</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(200170)">Tập thể hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(509057)">Chạy bộ và chạy marathon</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4442)">Văn phòng phẩm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3937)">Kinh doanh, vật tư công nghiệp, kinh doanh tự làm khác</div>
            </div>
          </div>

        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2509)">Chăm sóc thú cưng</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4772)">Đồ dùng cho chó</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4820)">Đồ dùng cho mèo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4798)">Cá nhiệt đới, nguồn cung cấp cá cảnh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4816)">Nguồn cung cấp cho chim</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(32938)">Nguồn cung cấp động vật nhỏ</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(33905)">Nguồn cung cấp cho côn trùng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(33966)">Nguồn cung cấp cho động vật bò sát</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(34003)">Hàng lưu niệm, của chủ sở hữu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(13588)">Sinh vật</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(49119)">Thuốc thú y</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4842)">Vật nuôi, nguồn cung cấp khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2510)">Nhạc cụ, thủ công mỹ nghệ</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2327)">Nhạc cụ, thiết bị</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2266)">Thủ công mỹ nghệ, đồ thủ công</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2406)">Bộ sưu tập nhạc cụ, sở thích nhạc cụ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2191)">Dụng cụ hỗ trợ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2422)">Nghệ thuật</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14828)">Trang phục cosplay</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2308)">Thử nghiệm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4848)">Bói toán</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2326)">Nhạc cụ khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2511)">Trò chơi - Đồ chơi </a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2161)">Máy chơi game</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2119)">Đồ chơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(25160)">Nhân vật</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2318)">Trò chơi điều khiển</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2156)">Xe ô tô mini</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(17157)">Candy, Prize, Capsule</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2309)">Mô hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(38146)">Câu đố</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2169)">Đồ chơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2420)">Thẻ</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2165)">Chơi bài</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4011)">Đồ tiệc
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(37865)">Chơi lô tô, xổ số</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(37853)">Đồ chơi theo mùa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2166)">Phi tiêu</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2168)">Bi-a</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50458)">Shogi
              </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50459)">Bộ cờ vây</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50451)">Mạt chược</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2492)">Trò chơi khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2497)">Mẹ & Bé</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(50258)">Đồ dùng vệ sinh, chăm sóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41303)">Tã, đồ vệ sinh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41603)">Phòng tắm, sản phẩm trong phòng tắm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41607)">Đồ dùng cho mẹ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4251)">Quần áo, giày dép cho bé</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4738)">Giường, bộ đồ ở giường cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48687)">Đồ dùng cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48688)">Đồ dùng an toàn cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48678)">Địu trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48679)">Đai địu trẻ em 1 dây chéo</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4263)">Xe đẩy em bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14937)">Ghế trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41418)">Đồ chơi, đồ dùng dạy học</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4737)">Giày dép trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48689)">Giường trẻ em, giường ngủ</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41763)">Nội thất trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41190)">Cặp sách</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(43965)">Đồ dùng phòng nguy hiểm cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(43995)">Xe đạp trẻ em, xe ba bánh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(25317)">Thời trang bà bầu</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(48730)">Quần áo mặc sau sinh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4739)">Đồ cho phụ nữ mang bầu, cho con bú</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(13618)">Quà tặng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14936)">Dụng cụ đựng thức ăn cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4353)">Sản phẩm khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2512)">Thể thao</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3059)">Chơi golf</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2986)">Trượt tuyết (nữ)</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2964)">Trượt tuyết ( nam)</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2950)">Tập thể hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14894)">Cuộc thi chạy marathon</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3336)">Bóng chày</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3113)">Bóng đá, giải Futsal</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3258)">Quần vợt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3280)">Bóng rổ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3295)">Bóng chuyền</div>

            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3227)">Bóng chày nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3287)">Cầu lông</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3244)">Bóng bàn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3358)">Bóng bầu dục</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3370)">Điền kinh</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(16308)">Yoga, Pilates</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3001)">Võ thuật</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14757)">Múa ba lê</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3234)">Thể dục nhịp điệu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3212)">Thể thao đường phố</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3305)">Môn thể thao biển</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3188)">Bơi lội</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46557)">Quần áo thể thao</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46567)">Đồ lót</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46625)">Phụ kiện thể thao</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46578)">Túi thể thao</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(46616)">Những sản phẩm chăm sóc trong thể thao</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2952)">Vật dụng trong thể thao</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(16429)">Các mặt hàng khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2514)">Ô tô, xe máy, xe đạp</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41234)">Xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(41235)">Xe máy</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3174)">Xe đạp</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2516)">CD, phần mềm âm nhạc, vé</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(721)">Nhạc nhật bản</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(739)">Nhạc phương tây</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15718)">K-POP</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(761)">Âm nhạc thế giới</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5401)">Anime</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(772)">Trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(726)">Indies</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(748)">Cổ điển</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(744)">Jazz fusion</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5388)">Thời đại mới</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5394)">Nhạc phim</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5403)">Nhạc cụ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(846)">Thực hành</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(851)">Khác</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(16509)">Vé</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2517)">DVD, phần mềm video</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(868)">Tranh Nhật Bản</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(853)">Phim nước ngoài</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(881)">Phim hoạt hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(901)">Âm nhạc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(884)">Phim truyền hình</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5608)">Hài kịch, Tranh luận</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(900)">Thần tượng, hình ảnh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(908)">Thể thao, thể hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2469)">Gia đình và trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5615)">Nhà hát, nhạc kịch</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(920)">Sở thích, công dụng, giáo dục</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(937)">Thể loại khác</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(10002)">Sách, Tạp chí, Truyện tranh</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10251)">Truyện tranh, phim hoạt hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(12492)">Văn học nghệ thuật</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10003)">Tạp chí</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10141)">Bộ sưu tập ảnh thần tượng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10725)">Báo kinh tế</div>
            </div>
            <div class="col-md-2">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10604)">Máy tính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10149)">Giải trí</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11820)">Trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(12243)">Cuộc sống</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11998)">Sở thích</div>
            </div>
            <div class="col-md-4">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11505)">Nghệ thuật</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(13190)">Lịch sử, tâm lý học, giáo dục</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11270)">Sách tham khảo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11676)">Ngôn ngữ, từ điển</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10953)">Y học, Dược, Điều dưỡng</div>
            </div>
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(10209)">Sách chiến lược trò chơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(12425)">Bản đồ, Hướng dẫn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(12204)">Việc làm, trình độ chuyên môn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(12851)">Pháp luật, xã hội</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(12996)">Khoa học, kỹ thuật</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11430)">Sách âm nhạc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15713)">Sách điện tử</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(11493)">Các hàng hóa liên quan</div>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>
