<div class="primary-mobile-nav header-v1" id="primary-mobile-nav" role="navigation">
  <ul class="menu over-submenu">
    <li class="menu-item-has-children over-menu"><span class="toggle-children ">  </span>
      <ul class="sub-menu">
        <li class="menu-back menu-parent-items">
          <i class="fa fa-arrow-left" (click)="back()"></i> Rakuten
        </li>
        <ul class="menu-parent-mobile">
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(558929)">Đồng hồ</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(301981)">Đồng hồ nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(302050)">Đồng hồ đeo tay nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(302133)">Đồng hồ Unisex</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(302123)">Đồng hồ cặp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213891)">Đồng hồ trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564895)">Đồng hồ thông minh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565251)">Đồng hồ bỏ túi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(302178)">Phụ kiện</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(112747)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100371)">Thời trang nữ</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(555086)">Áo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(555089)">Váy, Quần</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(555087)">Áo khoác</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(110729)">Váy</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(553029)">Áo dài</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(555083)">Salopette tất cả trong một</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(555084)">Trang phục</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(555091)">Suit, Công sở</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200074)">Mặc đồ unisex</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(553036)">Áo mưa, gió</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100428)">Truyền thống Nhật Bản</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(409165)">Quần áo công sở</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210800)">Quần áo lao động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(509252)">Áo khoác trắng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(303735)">Đồng phục học sinh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(409365)">Đồ bơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564338)">Váy cưới</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566016)">May đo, hàng đặt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403911)">Túi may mắn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101801)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100533)">Trẻ em, Mẹ bầu</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;"  (click)="openDetailProduct(111078)">Trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111102)">Đứa bé</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111116)">Mẹ bầu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566733)">Nhìn cặp cha mẹ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(508445)">Quà tặng và quà tặng trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101828)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(216129)">Phụ kiện, trang sức</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;"  (click)="openDetailProduct(100486)">Phụ kiện trang sức nữ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(407326)">Phụ kiện trang sức nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(301966)">Phụ kiện cặp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(508586)">Phụ kiện Unisex</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(551853)">Phụ kiện trang sức cô dâu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(407279)">Xỏ lỗ trên cơ thể</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567432)">Nhãn dán hình xăm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(407455)">Trang sức & Phụ kiện</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(207030)">Bếp ga</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(559284)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(216131)">Túi xách phụ kiện</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(565210)">Túi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565211)">Ví/Vỏ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502427)">Phụ kiện</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100467)">Mũ, kính và kính râm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(207334)">Ô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565212)">Phụ kiện thời trang cho bộ vest</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560100)">Muffler / khăn quàng cổ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502464)">Khăn tay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403769)">Tóc giả, Tóc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502460)">Găng tay và máy sưởi tay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403762)">Ống nghe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403776)">Dây đeo cổ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567433)">Cổ áo đính kèm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502462)">Dây đeo cổ tay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502456)">Thắt lưng treo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403829)">Gương cầm tay, gương nhỏ gọn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(409031)">Da và sản phẩm chăm sóc da</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564627)">Phụ kiện cưới</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(216132)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100939)">Làm đẹp, mỹ phẩm, nước hoa</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;"  (click)="openDetailProduct(100944)">Chăm sóc da</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(204233)">Trang điểm cơ bản và trang điểm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(216492)">Kem chống nắng, chăm sóc tia cực tím</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111787)">Dụng cụ trang điểm và hàng chăm sóc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100940)">Chăm sóc tóc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111120)">Nước hoa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100878)">Hương thơm và hương</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100960)">Chăm sóc cơ thể</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201454)">Móng tay</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210462)">Cạo râu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(204245)">Thiết bị xông hơi/hấp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564517)">Mỹ phẩm hàn quốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567431)">Nguyên liệu mỹ phẩm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101877)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100433)">Nội y, đồ lót, quần áo ngủ</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(566222)">Đà bà</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566223)">Nam</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566224)">Unisex</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101817)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(551177)">Thời trang nam</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(110765)">Áo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(558846)">Quần</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(558873)">Áo khoác</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(303535)">Quần áo lao động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(509223)">Áo khoác trắng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(409065)">Đồng phục học sinh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(409335)">Đồ bơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403832)">Túi may mắn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(303526)">Máy đo, hàng đặt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(551186)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(566382)">Đồ chơi và trò chơi </a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(101205)">Trò chơi điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566383)">Trò chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101189)">Đồ chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201652)">Búp bê kiểu Pháp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565031)">Phụ kiện mỹ phẩm trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101914)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(211742)">TV, âm thanh, máy ảnh</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(100212)">Máy ảnh, máy quay video, dụng cụ quang học</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100155)">Âm thanh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(563843)">TV</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200225)">Đầu ghi đĩa quang</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(404237)">Truyền hình di động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566736)">Loa thông minh · Loa AI</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566735)">Bộ thu phát vô tuyến</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(212988)">Hệ thống rạp hát tại nhà</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(202952)">Máy chiếu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(110247)">Phương tiện ghi âm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213198)">Máy ghi âm IC</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(503285)">Thẻ nhớ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(553203)">Phụ kiện và phụ tùng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101739)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(101070)">Thể thao ngoài trời</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(551942)">Phụ kiện thể thao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101157)">Xe đạp, đi xe đạp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567218)">Ba môn phối hợp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101975)">Ngoài trời</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201890)">Leo núi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111961)">Đánh bắt cá</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101100)">Thể thao biển</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200067)">Thể thao mùa đông</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201937)">Bơi lội</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101077)">Golf</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(200168)">Bóng chày, bóng mềm</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(200169)">Bóng đá futsal</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100558)">Quần vợt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201959)">Bóng rổ</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(201963)">Bóng chuyền</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(214668)">Bóng ném</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201955)">Bóng bàn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201950)">Cầu lông</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502046)">Bí đao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(407942)">Lacrosse</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(302472)">Bóng bầu dục</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(402512)">Bóng đá Mỹ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200061)">Trượt ván</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502051)">Sân khúc côn cầu · khúc côn cầu nội tuyến</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(565738)">Võ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565739)">Thể thao giải trí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(402486)">Cưỡi ngựa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101893)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100026)">Thiết bị ngoại vi máy tính</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(565162)">Máy vi tính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560062)">Lưu trữ ổ đĩa ngoài</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100087)">Phụ tùng máy tính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100094)">Phụ kiện máy tính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100103)">Phần mềm PC</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565163)">Cung cấp vật tư PC</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(110105)">Trưng bày</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(110080)">Máy in</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101451)">Thiết bị mạng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565247)">Bộ điều hợp hiển thị không dây</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(303087)">Chuột, bàn phím, thiết bị đầu vào</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(208582)">Thiết bị văn phòng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565164)">Phụ kiện thiết bị văn phòng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567168)">Máy quét</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567751)">Máy cắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(552375)">CRT</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567167)">Thiết bị chơi game</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(211741)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(215783)">Đồ dùng hàng ngày, văn phòng phẩm, thủ công </a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(100554)">Nhu yếu phẩm hàng ngày, cuộc sống linh tinh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100901)">Văn phòng phẩm và văn phòng phẩm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111173)">Tem niêm phong</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100872)">Thủ công mỹ nghệ, Thủ công, Vải</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100664)">Khăn tắm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111475)">Đồ tắm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100645)">Đồ giặt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100656)">Dụng cụ vệ sinh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567436)">Bàn chải quần áo, bộ sưu tập thuốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111469)">Đồ dùng vệ sinh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100683)">Hàng du lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111519)">Hàng hóa liên quan đến phòng chống thiên tai</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111524)">Hàng hóa liên quan đến an ninh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100822)">Bàn thờ phật, dụng cụ phật giáo, thần</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210191)">Dịp lễ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(112779)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(558944)">Đồ dùng nhà bếp, bát đĩa </a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(558944)">Bộ đồ ăn, dao kéo và kính</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(558945)">Nồi và chảo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(558945)">Dụng cụ nấu ăn và bánh kẹo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(559248)">Hộp cơm trưa / chai nước</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(407057)">Phục vụ đồ dùng / Vải bếp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567214)">Hoa và lá trang trí để nấu ăn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210238)">Thiết bị và vật tư nhà bếp thương mại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100762)">Container lưu trữ / container gia vị</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566115)">Cà phê và sản phẩm trà</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564992)">Rượi, bar</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100629)">Cung cấp nước</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210167)">Bếp tổ chức vật tư</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566113)">Đồ dùng nhà bếp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566113)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100005)">Hoa, vườn, DIY</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(113084)">Hoa và cây</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100012)">Làm vườn / Nông nghiệp</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(100890)">Công cụ DIY</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100880)">Nội thất sân vườn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100893)">Gỗ, vật liệu xây dựng và thiết bị</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567273)">Nghiên cứu và cung cấp thí nghiệm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567842)">Nội thất công nghiệp lớn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101737)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(562637)">Thiết bị gia dụng</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(204200)">Đồ gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(562640)">Thiết bị gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100644)">Dụng cụ nhà bếp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100191)">Thiết bị gia dụng làm đẹp và sức khỏe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(502823)">Mùa, máy lạnh gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(553158)">Fax Điện thoại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567750)">Máy tính, văn phòng phẩm kỹ thuật số</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566694)">Thiết bị gia dụng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(563338)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100938)">Ăn kiêng và sức khỏe</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(100984)">Chế độ ăn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(563727)">Phần bổ sung</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100987)">Thực phẩm lành mạnh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101035)">Sản phẩm thư giãn và mát xa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(563818)">Hàng y tế</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203260)">Phụ kiện sức khỏe</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(204745)">Chăm sóc răng miệng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101876)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(402853)">Nội dung kỹ thuật số</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(411482)">Sách điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(402912)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(564500)">Điện thoại & máy tính bảng</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(560202)">Thân điện thoại thông minh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560276)">Phụ kiện cho điện thoại thông minh và điện thoại di động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564278)">Cáp, bộ chuyển đổi cho điện thoại thông minh, máy tính bảng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560029)">Máy tính bảng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560050)">Phụ kiện máy tính bảng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567219)">Thiết bị đầu cuối truyền phát trực tuyến</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(509433)">Pin và bộ phận</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(408507)">Tai nghe, tai nghe và micro</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(208287)">Thân điện thoại di động</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560313)">Đầu đọc sách điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(560312)">Phụ kiện đọc sách điện tử</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565054)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100804)">Nội thất, giường, tủ</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(215566)">Chăn ga gối đệm</a></li>
                <li><a href="javascript:;"  (click)="openDetailProduct(100823)">Giường</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200166)">Lưu trữ đồ đạc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100805)">Ánh sáng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111346)">Bàn  học</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200167)">Bàn làm việc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111363)">Cái ghế</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(205515)">Sofa, sofa giường</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210102)">Bồ đồ ăn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100933)">Nội thất văn phòng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203024)">Nội thất, giường, lưu trữ cho phòng trẻ em</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(111355)">Thảm, chiếu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(215566)">Chăn ga gối đệm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(205677)">Rèm cửa và mành</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566174)">Hình nền, phim trang trí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(210143)">Gương</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100863)">Phụ kiện nội thất và số liệu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(215767)">Thùng rác</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100857)">Đồng hồ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(207738)">Nhiệt kế, ẩm kế</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(500314)">Sofa bọc / ghế bọc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200119)">Đệm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564568)">K bìa và bìa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566175)">Vách ngăn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(500346)">Lò sưởi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(500349)">Dũng cảm hơn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101859)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(503190)">Vật tư xe hơi và xe đạp</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(101126)">Cung cấp xe hơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200305)">Đồ dùng xe máy</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(503249)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(112493)">Nhạc cụ và thiết bị âm thanh</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(566954)">Guitar bass</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203020)">Nhạc cụ dây</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203018)">Piano và bàn phím</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(211233)">Trống</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(211307)">Bộ gõ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(204210)">Nhạc cụ gió, nhạc cụ gió</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203019)">Nhạc cụ Nhật Bản</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(206023)">Phụ kiện</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(204228)">Thiết bị DJ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(206024)">Đầu ghi DAW DTM</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567525)">Thiết bị karaoke</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566955)">Thiết bị PA</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(112998)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(101240)">CD ・ DVD</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(101311)">CD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101354)">Đĩa DVD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(505034)">Blu-ray</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200531)">Ghi lại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101327)">Video</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(205900)">Băng cassette</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200532)">LD</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(112960)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100316)">Nước, nước ngọt</a>
          <div>
            <ul class="menu-child-mobile">
              <li><a href="javascript:;" (click)="openDetailProduct(201351)">Nước và nước khoáng</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(559934)">Máy chủ nước</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(506536)">Nước soda</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(559936)">Uống thể thao</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(110692)">Đồ uống rau quả</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(567677)">Sinh tố</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(201393)">Giấm uống</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(100356)">Cofe</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(502134)">Uống sô cô la ca cao</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(100265)">Sữa</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(567678)">Sữa thực vật</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(567679)">Nước giải khát với trái cây</a></li>
              <li><a href="javascript:;"  (click)="openDetailProduct(302992)">Vi khuẩn lactic uống</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(565598)">Trà</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(201514)">Trà tảo bẹ</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(566805)">Trà Yuzu</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(566734)">Nước gừng nóng</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(565597)">Sake ngọt</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(559939)">Nước giải khát thạch</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(565599)">Uống để pha loãng</a></li>
              <li><a href="javascript:;" (click)="openDetailProduct(101785)">Khác</a></li>
            </ul>
          </div>
        </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(200162)">Sách, Tạp chí, Truyện tranh</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(101266)">Tiểu thuyết / tiểu luận</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(208663)">Kiểm tra trình độ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(208726)">Lối sống</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(562174)">Với phụ lục</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101248)">Sở thích · Thể thao · Nghệ thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(208866)">Sách ảnh, sách thiếu nhi, sách minh họa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101293)">Sách tham khảo ngôn ngữ và học tập</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101242)">Du lịch, du học, ngoài trời</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101278)">Nhân văn, lịch sử, triết học, xã hội</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200446)">Kinh doanh, kinh tế, việc làm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101287)">Phát triển hệ thống và PC</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101281)">Khoa học, y học, công nghệ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101299)">Hài hước</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(209260)">Tiểu thuyết ánh sáng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(209261)">Chàng trai yêu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(209298)">Sự giải trí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101257)">Bộ sưu tập ảnh, tài năng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(209331)">Bìa mềm/ Sách mới</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200450)">Sách cữ/ Sách hiếm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200453)">Sách theo yêu cầu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101254)">Điểm âm nhạc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101302)">Báo chí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200098)">Tạp chí</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(507873)">Sách ngoại</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567216)">Lịch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567217)">Áp phích</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200489)">Tờ rơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203063)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(100227)">Món ăn</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(110472)">Gạo và ngũ cốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100236)">Cá và các sản phẩm cá</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100228)">Thịt và các sản phẩm thịt chế biến</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(200990)">Rau và nấm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100246)">Trái cây</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201085)">Trứng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100268)">Bắp cải Trung Quốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100256)">Mì</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100293)">Bánh mì, mứt, ngũ cốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100262)">Phô mai và các sản phẩm từ sữa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201018)">Đậu phụ, Natto, konnyaku</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100250)">Dưa chua, mận ngâm, kim chi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100300)">Đồ gia vị</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(507818)">Bột</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(410901)">Vật chất khô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(507779)">Đồ hộp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(507788)">Đóng chai</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101769)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(551167)">Kẹo</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(100283)">Bánh kẹo miền tây</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201153)">Socola</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201136)">Bánh quy và đồ nướng</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564648)">Bánh ngọt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201150)">Kem ốc quế</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(203223)">Bánh kẹo và nguyên liệu làm bánh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(509708)">Kẹo Nhật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(564649)">Senbei ・ Gạo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(562625)">Đồ ăn nhẹ</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(214276)">Cục kẹo</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201179)">Kẹo Trung Quốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(214203)">Kẹo, bạc hà, kẹo cao su</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(214193)">Quả hạch</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(410853)">Hoa quả sấy khô</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566807)">Ăn kiêng bổ sung</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(551168)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(510915)">Bia, rượi tây</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(100324)">Bia, bia mạch nha thấp</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(565949)">Chewhai cocktail bóng cao</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100317)">Rượi nho</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(100330)">Shisky</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201337)">Rượi mạnh</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(402930)">Gin</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(408163)">Rượu vodka</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(408175)">Rượu teliqua</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(408156)">Schnapps</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(408179)">Môi trường sống</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567650)">Forn</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(110609)">Rượi mùi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(201344)">Rượu sake Trung Quốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(403311)">Mucoli</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(204456)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(510901)">Sake và shochu</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;" (click)="openDetailProduct(100337)">Lợi ích</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(110662)">Shochu</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(510903)">Rượi mận</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(510914)">Khác</a></li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:;" class="dropdown-toggle" (click)="openDetailProduct(101164)">Sở thích</a>
            <div>
              <ul class="menu-child-mobile">
                <li><a href="javascript:;"  (click)="openDetailProduct(213731)">Nguồn cung cấp sự kiện</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213749)">Cosplay, ngụy trang, trang phục tạm thời</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101165)">Bộ sưu tập</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101222)">Nghệ thuật, đồ cổ, nghệ thuật dân gian</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(112132)">Bói toán, chúc may mắn, Phong thủy, Đá quyền lực</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213684)">Trò chơi sinh tồn · súng đồ chơi</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(207622)">RC Drone</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213517)">Mô hình đường sắt</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(207609)">Mô hình nhựa</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213619)">Công cụ và vật liệu sở thích</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213656)">Câu đố</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(213647)">Ma thuật</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(567215)">Công việc điện tử, thí nghiệm</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(566800)">Phi tiêu, bi-a, máy chơi game</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(101168)">Dụng cụ hút thuốc</a></li>
                <li><a href="javascript:;" (click)="openDetailProduct(112928)">Khác</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </ul>
    </li>
  </ul>
</div>
