<div *ngIf="currentUser.role=='SALE' || currentUser.role=='ADMINISTRATOR' || currentUser.role=='ADMIN-WEBSITE'" class=" skin-blue sidebar-mini" id ="siderbarMenu" [ngClass]="{'sidebar-collapse sidebar-open': activeSibar}">
  <div class="wrapper" style="height: auto;
    min-height: 100%;">
    <app-admin-header (headerChange)="changeSibar()"></app-admin-header>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <router-outlet></router-outlet>
    </div>
    <app-admin-footer></app-admin-footer>
  </div>
</div>
