<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Đăng ký</h5>
          <form class="form-signin" #signUpForm="ngForm">
            <div class="alert alert-danger" role="alert" *ngIf="errFail">
              Email đã tồn tại!
            </div>
            <div class="alert alert-success" role="alert" *ngIf="success">
              Đăng ký thành công!
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" #fullName="ngModel" [(ngModel)]="user.fullName" name="fullName"
                      placeholder="Họ và tên" required autofocus>
              <div class="ml-2">
                <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                  <div *ngIf="fullName.errors.required">
                    <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Nhập họ tên.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" #email="ngModel" [(ngModel)]="user.email" name="email"
                     [pattern]="emailRegex" placeholder="Địa chỉ email" required>
              <div class="ml-2">
                <div *ngIf="email.errors?.pattern">
                  <label class="invalid"><i class="fa fa-exclamation-triangle"></i> Email nhập không đúng.</label>
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">
                    <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Nhập email.</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-label-group">
              <input [type]="showPass ? 'text' : 'password'" class="form-control border-right-0"
                     #password="ngModel" [(ngModel)]="user.password" name="password" minlength="6" maxlength="20" required placeholder="Mật khẩu">
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">
                  <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Nhập mật khẩu.</label>
                </div>
                <div *ngIf="password.errors?.minlength">
                  <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải 6 ký tự trở lên.</label>
                </div>
                <div *ngIf="password.errors?.maxlength">
                  <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải dưới 20 ký tự.</label>
                </div>
              </div>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1" (change)="showPassword()">
              <label class="custom-control-label" for="customCheck1">Hiển thị mật khẩu</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="signUp()" [disabled]="!signUpForm.form.valid">Đăng ký</button>
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit" routerLink="/sign-in">Đăng nhập</button>
<!--            <hr class="my-4">-->
<!--            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i> Sign in with Google</button>-->
<!--            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
