<div class="Subhead">
  <h2 class="Subhead-heading">Thay đổi mật khẩu</h2>
</div>
<form #accountFormPassword="ngForm">
  <div class="form-group">
    <label>Mật khẩu cũ</label>
    <input type="password" class="form-control col-md-6" #passwordOld="ngModel" [(ngModel)]="user.passOld"
           name="passwordOld" minlength="6" maxlength="20" required>
    <div *ngIf="passwordOld.invalid && (passwordOld.dirty || passwordOld.touched)">
      <div *ngIf="passwordOld.errors.required">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Nhập mật khẩu.</label>
      </div>
      <div *ngIf="passwordOld.errors?.minlength">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải 6 ký tự trở lên.</label>
      </div>
      <div *ngIf="passwordOld.errors?.maxlength">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải dưới 20 ký tự.</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Mật khẩu mới</label>
    <input type="password" class="form-control col-md-6" #password="ngModel" [(ngModel)]="user.password" name="password"
           minlength="6" maxlength="20" required (change)="changePass()">
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Nhập mật khẩu.</label>
      </div>
      <div *ngIf="password.errors?.minlength">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải 6 ký tự trở lên.</label>
      </div>
      <div *ngIf="password.errors?.maxlength">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải dưới 20 ký tự.</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Nhập lại khẩu</label>
    <input type="password" class="form-control col-md-6" #passwordConfig="ngModel" [(ngModel)]="user.passConfig"
           name="passwordConfig" minlength="6" maxlength="20" required (change)="changePass()">
    <div *ngIf="passwordConfig.invalid && (password.dirty || password.touched)">
      <div *ngIf="passwordConfig.errors.required">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Nhập mật khẩu.</label>
      </div>
      <div *ngIf="passwordConfig.errors?.minlength">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải 6 ký tự trở lên.</label>
      </div>
      <div *ngIf="passwordConfig.errors?.maxlength">
        <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Phải dưới 20 ký tự.</label>
      </div>
    </div>
    <div [ngClass]="checkPass?'hide':'show'">
      <label class="invalid"> <i class="fa fa-exclamation-triangle"></i> Mật khẩu không phù hợp.</label>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!accountFormPassword.form.valid || !checkPass"
            (click)="changePassword()">Cập nhật tài khoản
    </button>
  </div>
</form>
<app-spinner [showSpinner]="showSpinner"></app-spinner>
