
<main id="main-wrap">

  <div class="main">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;" routerLink=""><i class="fa fa-home"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page" routerLink="/yahoo-shopping" routerLinkActive="active">YahooShopping</li>
      </ol>
    </nav>
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-2">
          <app-yahoo-shopping-category></app-yahoo-shopping-category>
          <!-- Menu Left -->
        </div>
        <!--Col End Menu Left -->

        <div class="col-md-10">
          <div class="row mt-4">
            <div class="col"><h1>Gợi ý dành cho bạn</h1></div>

          </div>
          <div class="row mt-3">
            <div class="col-md-3 mb-3">
              <a title="Mua mỹ phẩm nhật bản trên yahoo shopping" href="/yahoo-shopping/y-2501"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909111936.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua quần áo trên yahoo shopping" href="/yahoo-shopping/y-13457"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909111944.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="nua thực phẩm chức năng Nhật Bản trên Yahoo Shopping" href="/yahoo-shopping/y-2500"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909111949.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua máy lọc nước nhật bản trên yahoo shopping" href="/yahoo-shopping/y-49814"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909111956.png" alt=""> </a>
            </div>

            <div class="col-md-3 mb-3">
              <a title="mua đồng hồ trên yahoo shopping" href="/yahoo-shopping/y-2496"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112013.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="mua đồ thể thao, dã ngoại trên yahoo shopping" href="/yahoo-shopping/y-2513"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112024.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="mua giày dép trên Yahoo Shopping" href="/yahoo-shopping/y-1729"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112031.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua đồ cho mẹ và bé trên yahoo shopping" href="/yahoo-shopping/y-2497"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112040.png" alt=""> </a>
            </div>

            <div class="col-md-3 mb-3">
              <a title="Mua đồ điện gia dụng nhật bản trên yahoo auction" href="/yahoo-shopping/y-2505"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112052.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua đồ cho thú cưng trên Yahoo Shopping" href="/yahoo-shopping/y-2509"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112101.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua đồ ăn nhanh trên Yahoo Shopping" href="/yahoo-shopping/y-2498"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112110.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua đồ văn phòng phẩm trên yahoo Shopping" href="/yahoo-shopping/y-46566"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112125.png" alt=""> </a>
            </div>

            <div class="col-md-3 mb-3">
              <a title="Mua linh kiện xe oto, xe đạp, xe máy trên yahoo shopping" href="/yahoo-shopping/y-2514"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112132.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua đồ điện gia dụng nhật bản trên yahoo Shopping" href="/yahoo-shopping/y-2505"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112152.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="mua laptop, máy tính, điện thoại trên yahoo shopping" href="/yahoo-shopping/y-2502"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112252.png" alt=""> </a>
            </div>
            <div class="col-md-3 mb-3">
              <a title="Mua dụng cụ làm vườn trên yahoo shopping" href="/yahoo-shopping/y-4036"> <img src="//cdn.ichibajp.com/image/default/2019/9/9/20190909112319.png" alt=""> </a>
            </div>


          </div>
          <!-- End row 1 -->
          <!-- End row 3 -->
        </div>
        <!--Col End Content right -->
      </div>
    </div>
  </div>
</main>
