.bs-wizard .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 14px;
}
.bs-wizard .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 14px;
}
.bs-wizard .bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}
@media (min-width: 1200px){
  .bs-wizard .bs-wizard-step>.progress {
    height: 6px;
    margin: 20px 0;
    background: #ebebeb;
  }
}
.bs-wizard .bs-wizard-step>.progress {
  position: relative;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bs-wizard .bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}
.bs-wizard .bs-wizard-step>.progress>.progress-bar {
  width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #00b6f0;
  -webkit-transition: none;
  transition: none;
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  line-height: 20px;
  color: #fff;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}
.progress-bar {
  font-size: 12px;
  text-align: center;
}
@media (min-width: 1200px){
 .bs-wizard-step .bs-wizard-dot {
    background: #00b6f0;
    font-size: 15px;
    color: #fff;
    border: none;
    line-height: 26px;
    -webkit-box-shadow: #666 0 0 2px;
    box-shadow: #666 0 0 2px;
  }
}
.bs-wizard .bs-wizard-step .bs-wizard-dot {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  top: 33px;
  left: 50%;
  border-radius: 50%;
  text-align: center;
}
.bs-wizard .bs-wizard-step.complete .progress .progress-bar {
  width: 100%
}

.bs-wizard .bs-wizard-step.active .progress .progress-bar {
  width: 50%
}

.bs-wizard .bs-wizard-step:first-child.active .progress .progress-bar {
  width: 0
}

 .bs-wizard .bs-wizard-step:last-child.active .progress .progress-bar {
  width: 100%
}

.bs-wizard .bs-wizard-step.disabled .bs-wizard-stepnum {
  color: #a3a3a3
}

/*.product_item:hover .product_info_row{*/
/*  display: none;*/
/*}*/
//MODAL FINANCE ERR
$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$secondary: #99DBB4;


#container {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 250px;
}
.finance-user-modal h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: $white;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.button-box h1{
  padding-bottom: 0;
}
.finance-user-modal .red {
  color: darken($error, 10%);
}
.finance-user-modal .alert {
  font-weight: 700;
  letter-spacing: 5px;
}
.finance-user-modal #error-box {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom left, $error 40%, $orange 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
}
.finance-user-modal .two {
  right: 12%;
  opacity: .5;
}
.finance-user-modal .face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: $white;
  border-radius: 50%;
  border: 1px solid $dark;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}
.finance-user-modal .eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: $dark;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.finance-user-modal .mouth {
  position:absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.finance-user-modal .sad {
  top: 49%;
  border: 2px solid;
  border-color: $dark transparent transparent $dark;
  transform: rotate(45deg);
}

.finance-user-modal .shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: .5;
  background: $dark;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}
.finance-user-modal .scale {
  animation: scale 1s ease-in infinite;
}
.finance-user-modal .move {
  animation: move 3s ease-in-out infinite;
}
.finance-user-modal .message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
}

.finance-user-modal .button-box {
  position: absolute;
  background: $white;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
@media (max-width: 575.98px) {
  .bs-wizard{
    display: none;
  }
}
