<nav aria-label="breadcrumb" class="nav-mobile">
  <ol class="breadcrumb">
   <div class="container-fluid container-custom-nav">
     <li class="breadcrumb-item"><a href="javascript:;" routerLink=""><i class="fa fa-home"></i>  Trang chủ</a></li>
     <li class="breadcrumb-item active" aria-current="page">Yahoo-Auction</li>
   </div>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 menu-category-mobile">
      <!-- Menu Left -->
      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="font-weight-bold p-2">DANH MỤC</h5>
        </div>
        <div class="col-md-12">
          <app-yahoo-auction-category></app-yahoo-auction-category>
        </div>
      </div>
    </div>
    <!--Col End Menu Left -->
    <div class="col-md-10">
      <div class="row mt-4">
        <div class="col">
          <div class="underlinlie"></div>
          <div class="float-left">
            <h3><a href="javascript:;"> Gợi ý dành cho bạn</a></h3>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 col-6 mb-3">
          <a title="Phụ kiện xe" href="javascript:;" (click)="categoryEvent(26320)"> <img
            src="../../../assets/img/yahoo-auction/phu-kien-xe.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Nồi cơm điện" href="javascript:;" (click)="categoryEvent(2084008366)"> <img
            src="../../../assets/img/yahoo-auction/noi-com-dien.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Robot hút bụi" href="javascript:;" (click)="categoryEvent(2084245309)"> <img
            src="../../../assets/img/yahoo-auction/robot-hut-bui.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Máy vi tính" href="javascript:;" (click)="categoryEvent(23336)"> <img
            src="../../../assets/img/yahoo-auction/may-vi-tinh.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-6 mb-3">
          <a title="Thế giới đồng hồ" href="javascript:;" (click)="categoryEvent(23140)"> <img
            src="../../../assets/img/yahoo-auction/the-gioi-dong-ho.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Chợ trời zippo" href="javascript:;" (click)="categoryEvent(42530)"> <img
            src="../../../assets/img/yahoo-auction/choi-troi.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Đồ gốm sứ" href="javascript:;" (click)="categoryEvent(20132)"> <img
            src="../../../assets/img/yahoo-auction/do-gom-su.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Thiết bị giải trí số" href="javascript:;" (click)="categoryEvent(22844)"> <img
            src="../../../assets/img/yahoo-auction/thiet-bi-giai-tri-so.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-6 mb-3">
          <a title="Máy lọc nước" href="javascript:;" (click)="categoryEvent(2084006902)"> <img
            src="../../../assets/img/yahoo-auction/may-nuoc-loc.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Máy ảnh và phụ kiện" href="javascript:;" (click)="categoryEvent(2084261633)"> <img
            src="../../../assets/img/yahoo-auction/may-anh-va-phu-kien.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Đồ câu" href="javascript:;" (click)="categoryEvent(25180)"> <img
            src="../../../assets/img/yahoo-auction/do-cau.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Dụng cụ chơi Golf" href="javascript:;" (click)="categoryEvent(25042)"> <img
            src="../../../assets/img/yahoo-auction/dung-cu-choi-golf.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-6 mb-3">
          <a title="Túi xách" href="javascript:;" (click)="categoryEvent(2084005069)"> <img
            src="../../../assets/img/yahoo-auction/tui-xach.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Đồ chơi mô hình" href="javascript:;" (click)="categoryEvent(2084250263)"> <img
            src="../../../assets/img/yahoo-auction/do-choi-mo-hinh.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Thời trang nam" href="javascript:;" (click)="categoryEvent(23176)"> <img
            src="../../../assets/img/yahoo-auction/thoi-trang-nam.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Thời trang nữ" href="javascript:;" (click)="categoryEvent(23288)"> <img
            src="../../../assets/img/yahoo-auction/thoi-trang-nu.png" alt=""> </a>
        </div>
      </div>
    </div>
  </div>
</div>
