<footer class="footer">
  <div class="site-footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <div class="widget-ft first">
              <h4 class="title-menu"><a> GIỚI THIỆU</a></h4>
              <div class="menu-menu-footer-container">
                <ul class="menu">
                  <li class="menu-item"><a href="javascript:;"><span>Giới thiệu</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Quy chế hoạt động</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Quy định bán hàng</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Tin tức khuyến mãi</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="widget-ft">
              <h4 class="title-menu"><a> CHÍNH SÁCH CÔNG TY</a></h4>
              <div class="menu-menu-footer-container">
                <ul class="menu">
                  <li class="menu-item"><a href="javascript:;"><span>Giới thiệu</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Quy chế hoạt động</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Quy định bán hàng</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Tin tức khuyến mãi</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="widget-ft">
              <h4 class="title-menu"><a> HỖ TRỢ KHÁCH HÀNG</a></h4>
              <div class="menu-menu-footer-container">
                <ul class="menu">
                  <li class="menu-item"><a href="javascript:;"><span>Giới thiệu</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Quy chế hoạt động</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Quy định bán hàng</span></a></li>
                  <li class="menu-item"><a href="javascript:;"><span>Tin tức khuyến mãi</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4">
            <div>
              <h4 class="title-menu"><a> CÔNG TY CỔ PHẦN SAIKO</a></h4>
              <div class="textwidget"><p><strong>Trụ sở chính:</strong> 栃木県河内郡上三川町大字上三川5101-1<br>
                Điện thoại: 028-612-1100 – Email: info@Tomoniglobal.com</p>
                <p><strong>Chi nhánh:</strong> 栃木県河内郡上三川町大字上三川5101-1<br>
                  Điện thoại:  028-612-1100 – Email: info@Tomoniglobal.com</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="border-bottom-1px"></div>
    <div class="mid-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
            <div>
              <h4 class="title-menu"><a> ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</a></h4>
              <div>
                <div>
                  <form>
                    <div class="contact contact_mail">
                      <span><input type="text" name="text-1" value="" size="40"
                                   class="input form-control"
                                   placeholder="Nhập địa chỉ Email"></span><input
                      type="submit" value="Đăng ký" class="btn btn-primary">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pay_footer">
            <h4 class="title-menu"><a> PHƯƠNG THỨC THANH TOÁN</a></h4><img width="310" height="33"
                                                                           src="../../../../assets/img/payment.png"
                                                                           class="image wp-image-1954  attachment-full size-full"
                                                                           alt="" style="max-width: 100%; height: auto;"
                                                                           sizes="(max-width: 310px) 100vw, 310px"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 social_footer">
            <h4 class="title-menu2 icon_none_first icon_title_last">
              <a>Kết nối với chúng tôi</a>
            </h4>
            <div class="social_footer">
              <ul class="follow_option">
                <li>
                  <a href="javascript:;" title="Theo dõi Facebook cocomart"><i
                    class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="javascript:;" title="Theo dõi Twitter cocomart"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="javascript:;" title="Theo dõi Google Plus cocomart"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href="javascript:;" title="Theo dõi Instagam cocomart"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="javascript:;" title="Theo dõi Youtube cocomart"><i class="fa fa-youtube-play"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-footer-bottom copyright clearfix">
      <div class="container">
        <div class="inner clearfix">
          <div class="row tablet">
            <div id="copyright" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fot_copyright">
            <span class="wsp">
              <div class="textwidget custom-html-widget"><div style="padding-top: 5px"><strong>Copyright 2019 © <a
                href="javascript:;">Thiết kế website</a> bởi Dev TomomiGroup</strong></div></div>
            </span>
            </div>
          </div>
        </div>

        <a href="javascript:;" id="back-to-top" class="backtop show" title="Lên đầu trang"><i class="fa fa-angle-up"
                                                                                              aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>



