<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--          <app-yahoo-auction-category (categoryChange)="categoryEvent($event)"></app-yahoo-auction-category>-->
      <!-- Menu Left -->
      <div class="row mt-3">
        <div class="col-md-12">
          <h5 class="font-weight-bold">DANH MỤC</h5>
        </div>
        <div class="col-md-12 menu-left">
          <ul class="menu">
            <li class="menu-item nav-item">
              <a href="javascript1:;">
                    <span class="menu-image-hover-wrapper">
                      <img width="20" height="20"
                           src="../../../assets/img/balo.jpg"
                           class="menu-image menu-image-title-after">
                    </span>
                <span class="menu-image-title">Thời trang nữ</span>
              </a>
              <ul class="sub-menu dropdown-menu">
                <li class="menu-item nav-item">
                  <a href="javascript:;"><span class="menu-image-title">Điện gia dụng</span></a>
                  <ul class="sub-menu dropdown-menu">
                    <li class="menu-item nav-item"><a href="javascript:;"><span class="menu-image-title">Điện tử &amp; Công nghệ</span></a>
                    </li>
                    <li class="menu-item nav-item"><a href="javascript:;"><span class="menu-image-title">Mẹ &amp; bé</span></a>
                    </li>
                    <li class="menu-item nav-item"><a href="javascript:;"><span class="menu-image-title">Nhà cửa &amp; đời sống</span></a>
                    </li>
                  </ul>
                  <i class="fa fa-angle-right"></i></li>
                <li class="menu-item nav-item">
                  <a href="javascript:;">
                    <span class="menu-image-title">Sách &amp; văn phòng phẩm</span></a>
                  <ul class="sub-menu dropdown-menu">
                    <li class="menu-item nav-item"><a href="javascript:;"><span class="menu-image-title">Sức khỏe &amp; sắc đẹp</span></a>
                    </li>
                    <li class="menu-item nav-item"><a href="javascript:;"><span class="menu-image-title">Thời trang nam</span></a>
                    </li>
                    <li class="menu-item nav-item"><a href="javascript:;"><span class="menu-image-title">Thời trang nữ</span></a>
                    </li>
                  </ul>
                  <i class="fa fa-angle-right"></i></li>
              </ul>
              <i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
      </div>
    </div>
    <!--Col End Menu Left -->
    <div class="col-md-9">
      <div class="row mt-4">
        <div class="col">
          <div class="underlinlie"></div>
          <div class="float-left">
            <h3><a href="javascript:;"> Gợi ý dành cho bạn</a></h3>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 col-6 mb-3">
          <a title="Đồ chơi điện tử và trò chơi trên rakuten" href="javascript:;" (click)="productCategory('566382')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/7bada55c26e3e049298bb4f82d582b96-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Đồ mẹ và bé trên rakuten" href="javascript:;" (click)="productCategory('100533')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/11/1/67ee2ce7a582f6982891fb1f6d4c1386-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Đồ ngủ, nội y và trang phục gợi cảm nam nữ" href="javascript:;" (click)="productCategory('100433')">
            <img
              src="https://cdn1.imggmi.com/uploads/2019/11/1/059838e96e2b51729f37f26bd0c8d452-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua giày thể thao trên Rakuten" href="javascript:;" (click)="productCategory('509058')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/3b274cb43d1b3ec642e1be6f009e1e04-full.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-6 mb-3">
          <a title="Mua đồ gia dụng nhật bản trên Rakuten" href="javascript:;" (click)="productCategory('562637')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/c2ae579f1ec8a6b7f6aad841ff5c5c0b-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua đồng hồ trên rakuten" href="javascript:;" (click)="productCategory('558929')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/fc0ba4baa08ab65fa188cbdc2548c674-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua dụng cụ làm vườn trên Rakuten" href="javascript:;" (click)="productCategory('100005')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/80bc3107efea7377c0d694be537f4711-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua linh kiện xe trên Rakuten" href="javascript:;" (click)="productCategory('503190')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/6f91ffa51fb22806877e855874f1012f-full.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-6 mb-3">
          <a title="Mua máy lọc nước Nhật bản trên Rakuten" href="javascript:;" (click)="productCategory('212464')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/a8d2c26d3f1136fe5b732405f91b6e94-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua Mỹ phẩm nhật bản trên rakuten" href="javascript:;" (click)="productCategory('100939')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/c3d05807ffcf4979b40aba0c72bd658d-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua nhạc cụ nhật bản trên rakuten" href="javascript:;" (click)="productCategory('112493')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/34e4f1843ffcbe4810f60999f9fb5261-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua đồ thời trang nam trên rakuten" href="javascript:;" (click)="productCategory('551177')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/dba41905e853e82e0dd357d00203b1c6-full.png" alt=""> </a>
        </div>

        <div class="col-md-3 col-6 mb-3">
          <a title="Mua đồ thời trang nữ trên rakuten" href="javascript:;" (click)="productCategory('100371')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/149e5661ea2d51cce6fbc66f698d6cf3-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua thực phẩm chức năng nhật bản trên rakuten" href="javascript:;" (click)="productCategory('100938')">
            <img
              src="https://cdn1.imggmi.com/uploads/2019/10/16/bd2e28d75f5d4da1f0ece6449ea96eb7-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua đồ thần tượng và cosplay trên rakuten" href="javascript:;" (click)="productCategory('101164')">
            <img
              src="https://cdn1.imggmi.com/uploads/2019/10/16/89535ed078c3a13b198fc2a86f9f1073-full.png" alt=""> </a>
        </div>
        <div class="col-md-3 col-6 mb-3">
          <a title="Mua túi xách và phụ kiện thời trang trên rakuten" href="javascript:;"
             (click)="productCategory('216131')"> <img
            src="https://cdn1.imggmi.com/uploads/2019/10/16/7ce1160bce1519ee456e4f13c5958a72-full.png" alt=""> </a>
        </div>
      </div>
      <!-- End row 1 -->
      <!-- End row 3 -->
    </div>
    <!--Col End Content right -->
  </div>
</div>
