<section class="content-layout">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span href="javascript:;"><i class="fa fa-home"></i>  Thống kê</span></li>
    </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xl-4 mb-3">
        <div class="card bg-midnight-bloom">
          <div class="card-body text-white">
            <h5 class="card-title">Đơn hàng thành công <span class="float-right" style="font-size: 28px">{{object.order | number}}</span></h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3">
        <div class="card bg-arielle-smile">
          <div class="card-body text-white">
            <h5 class="card-title">Khách hàng <span class="float-right" style="font-size: 28px">{{object.user | number}}</span></h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-3">
        <div class="card bg-grow-early">
          <div class="card-body text-white">
            <h5 class="card-title"> Tài chính đã thu<span class="float-right" style="font-size: 28px">{{object.total | number}} yên</span></h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-spinner [showSpinner]="showSpinner"></app-spinner>
