<div class="menu_categories">
  <div class="menu_categories_header">
    <h4 class="menu_categories_title"><i class="fa fa-bars"></i> Danh mục sản phẩm</h4>
  </div>
  <div class="navigation">
    <ul>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(1551301247, 'Mẹ và bé')">Mẹ và bé</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(345889011)" >Đồ dùng cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345889011)">Tã lót</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(351704011)">Quần áo cho trẻ sơ sinh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(393100011)">Quần áo cho bé gái</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131570051)">Quần áo cho bé trai</div>
            </div>
            <div class="col-md-3">
            <div class="mb-3 category-custom-hover font-weight-bold"
                 (click)="openDetailProduct(345953011)">Dành cho bà bầu</div>
            <div class="mb-2 category-custom-hover"
                 (click)="openDetailProduct(3456980051)">Bổ sung dinh dưỡng</div>
            <div class="mb-2 category-custom-hover"
                 (click)="openDetailProduct(346154011)">Quần áo mẹ bầu</div>
            <div class="mb-2 category-custom-hover"
                 (click)="openDetailProduct(346165011)">Nội y cho mẹ bầu</div>
            <div class="mb-2 category-custom-hover"
                 (click)="openDetailProduct(2378450051)">Gối ngủ cho mẹ bầu </div>
          </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(345953011)">Hỗ trợ cho mẹ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5267100051)">Mỹ phẩmm thiên nhiên </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345988011)">Máy hút sữa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345990011)">Dụng cụ chế biến thức ăn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2506938051)">Đồ lót tân trang sau sinh</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(345953011)">Đồ dùng bú sữa và ăn dặm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71423051)">Bột ăn dặm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71430051)">Sữa bột</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2479250051)">Bình sữa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345989011)">Làm sạch bình sữa</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2479262051)">Đồ dùng cho bé</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(1910002051)" >Phụ kiện cho bé</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345931011)">Xe đẩy</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345945011)">Ghế trẻ em</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(345966011)">Giường và nôi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2975669051)">Đồ trang trí phòng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2225664051)">Đồ chơi cho bé</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(170388011)" >Chăm sóc da bé yêu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170390011)">Chăm sóc da</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170414011)">Chăm sóc răng miệng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3607069051)">Xà phòng · Dầu gội đầu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170386011)">Dụng cụ cắt tóc</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(57239051, 'Thực phẩm, đồ uống')">Thực phẩm, đồ uống</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(71442051)" >Đồ uống</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71456051)">Nước uống đóng chai</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71523051)">Bột trà xanh</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3958302051)">Cacao - Socola bột</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(57239051)">Nước bổ sung khoáng chất</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2422779051)">Nước ép rau củ</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(71314051)">Đồ ngọt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71338051)">Kẹo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2424488051)">Socola</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71329051)">Trái cây sấy khô</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71323051)">Snack</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(57239051)">Bánh kẹo Nhật Bản</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(71314051)">Đồ ăn dinh dưỡng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71328051)">Hạt dinh dưỡng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3457139051)">Tỏi đen</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(70918051)">Rong biển</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(57239051)">Bột và đồ dinh dưỡng</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(71238051)">Gia vị</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71240051)">Thảo mộc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(57239051)">Tỏi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2430212051)">Ớt bột</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71225051)">Dầu ăn</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(71246051)" >Thực phẩm và gia vị đóng gói</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(57239051)">Gạo và ngũ cốc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71086051)">Mì và pasta</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71246051)">Thực phẩm ăn liền</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71188051)">Đồ hộp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(71198051)">Gia vị và nước sốt</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(160384011, 'Chăm sóc sức khỏe')">Chăm sóc sức khỏe</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(169976011)" >Thực phẩm chức năng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3457082051)">Thức uống collagen</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(344024011)">Bổ sung vitamin</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3457108051)">Thực phẩm chức năng hỗ trợ giảm cân</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169986011)">Hỗ trợ giảm cân</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(5013071051)">Dụng cụ đo</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145982051)">Nhiệt kế</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145972051)">Theo dõi huyết áp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145971051)">Thiết bị theo dõi sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145975051)">Hỗ trợ sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4084091)">Chăm sóc răng miệng</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(71314051)">Thuốc hỗ trợ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2505533051)">Thuốc trị cảm sốt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(160384011)">Thuốc hỗ trợ giảm suy nhược</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(202287011)">Thuốc nhỏ mắt</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(169912011)">Dụng cụ y tế</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2356898051)">Bộ sơ cứu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169913011)">Gạc - bông thấm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169959011)">Phụ kiện hỗ trợ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(237877011)">Vòng đeo huyết áp</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(52374051, 'Mỹ phẩm, Làm đẹp')">Mỹ phẩm, Làm đẹp</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(5267100051)" >Chăm sóc da</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170134011)">Serum </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170267011)">Chăm sóc body</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170262011)">Kem chống nắng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170040011)">Chăm sóc da mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170041011)">Sữa rửa mặt</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(3895751)">Thiết bị chăm sóc sắc đẹp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145989051)">Máy massage mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145958051)">Dụng cụ tóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5013079051)">Máy rửa mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5013080051)">Dụng cụ massage mắt</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(52374051)">Làm đẹp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2356805051)">Tắm gội</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170229011)">Làm đẹp móng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169762011)">Chăm sóc răng miệng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170248011)">Nước hoa</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(5267102051)">Chăm sóc tóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169668011)">Dầu gội đầu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169694011)">Điều trị và phục hồi tóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169738011)">Tạo kiểu tóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169711011)">Thuốc nhuộm tóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(169681011)">Dầu xả</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(170191011)" >Trang điểm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5267104051)">Kem nền và Phấn nền </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170221011)">Chì kẻ mắt, phấn mắt, mascara</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2356841051)">Son môi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170041011)">Nước tẩy trang chuyên dụng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(170239011)">Bộ cọ trang điểm</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(3364474051)">Tuốt lại vẻ điển trai</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145940051)">Máy cạo râu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3389650051)">Thuốc mọc tóc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3389661051)">Sữa rửa mặt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3389613051)">Dâu gội đầu</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2127209051, 'Đồ điện tử, công nghệ')">Đồ điện tử, công nghệ</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(16462091)" >Máy ảnh & Camera</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3371371)">Máy ảnh kỹ thuật số</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3477651)">Máy quay, thiết bị ghi hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2285029051)">Phụ kiện</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(675729011)">Ống kính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2230731051)">Camera giám sát</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(3477381)">Thiết bị tại gia</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2795019051)">Amplifier</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(85396051)">Speaker</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3482511)">Ổ cắm điện</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3478481)">Bộ âm thanh tại gia</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3371441)">DVD player</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(128189011)">Phụ kiện điện thoại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2544551051)">Sạc dự phòng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(128198011)">Bảo vệ màn hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(128192011)">Cáp / Sạc / Truyền dữ liệu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(128199011)">Ốp lưng điện thoại</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2151826051)">Phụ kiện máy tính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3481981)">RAM, Chip máy tính & thẻ nhớ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3477981)">Headphone & Earphone</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2151978051)">Chuột máy tính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3477451)">Dây cáp màn hình</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(5267100051)" >Thiết bị văn phòng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2152003051)">Máy in văn phòng </div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2152005051)">Máy in hình từ điện thoại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(45760011)">Máy chiếu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(89358051)">Máy quét mã vạch</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(124048011, 'Đồ điện gia dụng')">Đồ điện gia dụng</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(13938481)" >Đồ dùng nhà bếp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2275305051)">Nồi cơm điện</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(13944911)">Bình đun nước siêu tốc</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4083271)">Lò vi sóng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2276690051)">Máy pha cà phê</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(490246011)">Xoong nồi</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(3895791)">Điện tử tiêu dùng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5248687051)">Máy hút bụi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2353758051)">Robot lau nhà</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4083141)">Bàn ủi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4083661)">Bếp điện</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(13944851)">Bình lọc nước</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(3895761)">Thiết bị điều hòa không khí</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4083011)">Bộ lọc không khí, khử mùi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4082991)">Máy phun sương, tạo độ ẩm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(4082861)">Máy sưởi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14157271)">Quạt</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(16298681)">Điều hòa không khí và phụ kiện</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(5013071051)">Điện tử tiêu dùng cho sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145960051)">Máy massage</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145971051)">Cân điện tử</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2145976051)">Máy trợ thính</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2133982051)" >Chiếu sáng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2134021051)">Bóng đèn led</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(89292051)">Đèn để bàn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2133985051)">Đèn trần</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(3355664051, 'Kinh đô thời trang')">Kinh đô thời trang</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2230006051)" >Thời trang nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5347826051)">Áo thời trang</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131508051)">Váy, đầm thời trang</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2221071051)">Giày dép</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5359909051)">Trang sức</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5011069051)">Đồ lót</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(324025011)">Đồng hồ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2129265051)">Đồng hồ cho nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2129265051)">Đồng hồ cho nam</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(16035241)">Đồng hồ sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(333013011)">Phụ kiện</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2131417051)">TThời trang nam</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131440051)">Quần dài, quần short</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2225845051)">Giày tây</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2229677051)">Đồ thể thao</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131417051)">Đồ lót & phụ kiện</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2442075051)">Phụ kiện cho nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5393640051)">Túi xách</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(5252839051)">Ví nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2231250051)">Mũ, nón</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2231238051)">Mắt kính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2442075051)">Phụ kiện tóc</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2231258051)" >Phụ kiện cho nam</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2221209051)">Ví, bóp</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2231259051)">Thắt lưng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2231270051)">Mắt kính</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2226779051)">Cặp đựng tài liệu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2231258051)">Phụ kiện</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(13299531, 'Đồ chơi, Sở thích')">Đồ chơi, Sở thích</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(13299531)" >Đồ chơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189603051)">Đồ chơi mô hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(86494051)">Đồ chơi lego</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189598051)">Xếp hình Rubik</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189356051)">Mô hình nhân vật hoạt hình</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(87334051)">Đồ chơi cho bé trai</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189284051)">Lắp ráp mô hình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189576051)">Mô hình tòa nhà</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189574051)">Mô hình xe, tầu hỏa...</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2131417051)">Sở thích cá nhân</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2638354051)">Sách nấu ăn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3113755051)">CD, poster</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2494287051)">Playstation</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2442075051)">Đồ chơi cho bé gái</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189268051)">Búp bê</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189279051)">Đồ chơi nấu nướng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189188051)">Thú nhồi bông</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(2017304051, 'Ôtô - Xe máy, Công nghiệp')">Ôtô - Xe máy, Công nghiệp</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2017304051)" >Phụ tùng xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045083051)">Đèn xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045078051)">Bộ phận xe hơi và phụ tùng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045053051)">Dụng cụ, thiết bị xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2284391051)">GPS</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045139051)">Lốp xe, mâm xe</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2111178051)">Điện tử cho xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2111181051)">Camera hành trình</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2111183051)">Màn hình hiển thị</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2111182051)">Âm thanh xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2284522051)">Phụ kiện điện tử</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2045022051)">Phụ kiện xe hơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045111051)">Khử mùi, vệ sinh xe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045034051)">Thảm lót sàn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045030051)">Giá đỡ điện thoại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045036051)">Vỏ bọc vô lăng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045033051)">Vỏ bọc ghế ngồi</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2045198051)">Phụ tùng xe máy</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045199051)">Bô xe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3396590051)">Gương chiếu hậu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045212051)">Phụ kiện thay thế</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2045156051)">Đồ dùng bảo vệ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2332624051)">Mũ bảo hiểm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045156051)">Quần áo chuyên dụng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045223051)">Phụ kiện khác</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2045198051)">Phụ kiện xe máy</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3345774051)">Khóa chống trộm</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2316402051)">Bọc yên xe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2045237051)">Hỗ trợ an toàn</div>
            </div>
          </div>
        </ul>
      </li>
      <li class="has-sub"> <a href="javascript:;" (click)="openDetailProduct(14304371, 'Thể thao giải trí')">Thể thao giải trí</a>
        <ul>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2189297051)" >Trang phục thể thao</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131689051)">Quần áo nam</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2221099051)">Giày nam</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131803051)">Quần áo nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2277732051)">Giày nữ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(3125565051)">Túi đựng đồ thể thao</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(14315441)">Golf</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2201132051)">Gậy golf</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15314391)">Găng tay</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15314411)">Bóng golf</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15314351)">Túi đựng đồ golf</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15314421)">Phụ kiện</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(14315521)">Câu cá</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15320261)">Cần câu</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15670931)">Máy câu cá, máy cuốn dây</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15672341)">Phao, hỗ trợ câu cá</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2189000051)">Đồ dùng hỗ trợ</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2045198051)">Yoga</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(344939011)">Thảm tập Yoga</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2201250051)">Dụng cụ tập Yoga</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2188968051)">Quần áo chuyên dụng</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(344940011)">Khăn</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(344942011)">Dụng cụ hỗ trợ</div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(14315411)">Thiết bị dã ngoại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14916991)">Lều cắm trại</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(14916951)">Túi ngủ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(386607011)">Đèn pin</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15325821)">Hộp đựng - phụ kiện</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(15325941)">Đồ dùng bảo vệ an toàn</div>
            </div>
            <div class="col-md-3">
              <div class="mb-3 category-custom-hover font-weight-bold"
                   (click)="openDetailProduct(2045198051)">Hỗ trợ sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2201382051)">Vòng đo sức khỏe</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(344956011)">Đi bộ / chạy bộ</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(2131537051)">Bơi</div>
              <div class="mb-2 category-custom-hover"
                   (click)="openDetailProduct(344932011)">Quần vợt</div>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</div>
